# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# https://atom.io/docs/latest/using-atom-basic-customization#cson
'.source.gfm':
	'Build Details':
		'prefix': 'bbbuild'
		'body': """
|				| 				|
| ---			| :--			|
| **Date**		| ${1:}	|
| **Commit**	| ${2:}		|
"""

'.source.js':
	'Log':
		'prefix': 'lp'
		'body': 'output.${1:debug}( ${2:} );'

	'Print Readable':
		'prefix': 'lr'
		'body': 'Automation.getDisplayString( ${1:} )'

	'Method Parameter':
		'prefix': '@param'
		'body':	'@param	${1:type}	$${2:name}'

	'Class Method':
		'prefix': 'method'
		'body': """
		/**
		 * ${2:@param}
		 * @return	${3:void}
		 */
		function ${1:}()
		{

		}
"""

'.source.php':
	'Line Print':
		'prefix': 'lp'
		'body': 'echo ${1:} . PHP_EOL;'

	'Print Readable':
		'prefix': 'lr'
		'body': 'print_r( ${1:} );'

	'Method Parameter':
		'prefix': '@param'
		'body':	'@param	${1:type}	$${2:name}'

	'Class Method':
		'prefix': 'method'
		'body': """
		/**
		 * ${4:@param}
		 * @return	${3:void}
		 */
		${1:public} function ${2:}()
		{

		}
"""

	'Class Var':
		'prefix': 'var'
		'body': """
		/**
		 * @var	${1:type}
		 */
		${2:protected} $${3:name};

"""

'.text':
	'Bug Report: OS X':
		'prefix': ':osx'
		'body': """* *OS X*: 10.11
* *Commit* — ${4:}
"""

	'Bug Report: iOS + Device':
		'prefix': ':ios'
		'body': """* *Device*: ${2:}
* *iOS*: 9.${3:}
* *Commit* — ${4:}
"""

	'Bug Report':
		'prefix': 'bug'
		'body': """
h2. Configuration

:${1:}

h2. Steps



h2. Expected



h2. Actual


h2. Frequency

* Repeatable
* Non-repeatable
* Situational
* Unknown
* Always
* Often
* Sometimes
* Once

h2. Severity

* Crasher
* Blocker
* Critical
* Major
* Minor
* Trivial
* Enhancement

h2. Workaround



h2. Notes



"""
